/*
Псевдоелемент ::first-letter
Управляє стилем першого символу в тексті елемента, до якого додається.
До цього псевдоелементу можна застосувати тільки властивості оформлення шрифту,
кольору, фону, а також геометрії елемента.
*/
pre {
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: 'Tahoma', serif;
  font-size: 32px;
  color: #f44336;
}
/*
Сервіс Google Fonts
це сховище величезної кількості безкоштовних шрифтів.
Все що необхідно зробити - це знайти потрібний шрифт, отримати на нього посилання
і підключити у своєму HTML-файлі як ще одну таблицю стилів.
*/
.title {
    font-family: 'Tangerine', cursive;
}
/*  offset-x | offset-y | blur-radius | color  */
.one {
    font-family: sans-serif;
    font-size: 36px;
    padding: 1rem;
    color: blue;
    text-decoration: underline wavy;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 2px hsla(0, 0%, 0%, .5);
}
.rings {
    font-family: sans-serif;
    font-size: 36px;
    padding: 1rem;
    color: orange;
    text-shadow: -15px -8px 0 blue,
                    14px -8px 0 black,
                    29px 0 0 green,
                    44px -8px 0 red;
}
.items {
  word-spacing: 1rem;
}
/* Напиши код під цим рядком */
.item-less {
  word-spacing: -.25rem;
}
.item-normal {
  word-spacing: normal;
}